@page "/"

<div>
    <MyButton Caption="Add New Monkey" Callback="AddMonkey"/>
    <MyButton Caption="Find Closest Monkey" Callback="FindMonkey" />
    
    @if(monkeys is null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <ul class="card-list">
            @foreach (var monkey in monkeys)
            {
                <li @onclick="() => GoToDetails(monkey)" class="card-item">
                    <img class="card-image" src="@monkey.Image">
                    <div class="card-content">
                        <h2>@monkey.Name</h2>
                        <p>@monkey.Location</p>
                    </div>
                </li>
            }
        </ul>
    }
</div>
